<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Basic Page Needs
										    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<meta charset="utf-8">
		<title>VSS Calendar</title>
		<meta name="description" content="">
		<meta
		name="author" content="">

		<!-- Mobile Specific Metas
										    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<meta
		name="viewport" content="width=device-width, initial-scale=1">

		<!-- FONT
										    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<link
		href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

		<!-- CSS
										    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<link rel="stylesheet" href="../stylesheets/normalize.css">
		<link
		rel="stylesheet" href="../stylesheets/skeleton.css">

		<!-- Favicon
										    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<link rel="icon" type="image/png" href="../images/favicon.png">

		<style>
			.calendar {
				display: grid;
				grid-template-columns: repeat(7, 1fr);
				gap: 6px;
				box-sizing: border-box;

			}
			.day-card {
				height: 225px;
				line-height: 1.0;
				padding: 5px 2px;
				border: 2px solid #ccc;
				text-align: center;
			}
			.day-header {
				font-weight: bold;
				font-size: larger;
				text-align: center;
			}
			.empty-cell {
				visibility: hidden;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<h2>百好 VSS Calendar for
				<%= month %>/<%= year %>
			</h2>
			<div class="bulletin">
				<p>>>>>>>>>>>>><%= bulletin.textField %></p>
			</div>
			<p>Logged in as '<%= username %>' _|_  <a href="/logout"> Log out</a></p>
			<p>
			<a href="/pigeons/form">Sign-up Sheet  </a>  _|_
					<a href="/pigeons/getUserPigeons?username=<%= username %>"> My Sessions</a>
			</p>

			<div class="row">

				<div>

					<!-- Calendar UI Goes Here -->

					<form action="/calendar" method="get" class="input-container">
						<label for="year">Year:</label>
						<input type="number" id="year" name="year" value="<%= year %>" min="2025" max="2026" required>
						<label for="month">Month:</label>
						<input type="number" id="month" name="month" value="<%= month %>" min="4" max="7" required>
						<button type="submit" class="button-primary">View</button>
					</form>
				</div>
			</div>
			<div
				class="calendar">
				<!-- Day headers -->
				<div class="day-header" style="color: #ff5733;">S</div>
				<div class="day-header">M</div>
				<div class="day-header">T</div>
				<div class="day-header">W</div>
				<div class="day-header">T</div>
				<div class="day-header">F</div>
				<div class="day-header">S</div>
				<!-- Render calendar days -->
				<% for (let i = 0; i < startDay; i++) { %>
					<div class="day-card empty-cell"></div>
				<% } %>
				<% for (let j = 0; j < dayCards.length; j++) { %>
					<div class="day-card">
						<p><%= dayCards[j].day %></p>

						<% if (dayCards[j].amCount > 0) { %>
							<p>
								AM:
								<%= dayCards[j].amCount %>
							</p>
						<% } %>

						<% if (dayCards[j].pmCount > 0) { %>
							<p>PM:
								<%= dayCards[j].pmCount %>
							</p>
						<% } %>
					</div>
				<% } %>
			</div>
			<hr>
		</div>
	</body>
</html>
